.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  object-fit: contain;
  border-radius: 50%;
  padding: 5px;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 60px;
  justify-content: flex-start;
  background-color: #4a90e2;
  
}

.app-header h1 {
  margin-right: auto;
  
}

.login-button{
  padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.registration-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
@media (max-width: 768px) {
  .form-field {
    display: block;
  }

  .form-field label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }

  .input-container {
    width: 100%;
  }
}

@media (min-width: 768px) {
.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-field label {
  flex: 0 0 150px;
  margin-right: 10px;
  text-align: right;
}

.input-container {
  flex: 1;
}
}




.registration-form div {
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.registration-form input[type="text"],
.registration-form input[type="datetime-local"],
.registration-form input[type="file"],
.registration-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.registration-form textarea {
  height: 100px;
  resize: vertical;
}

.registration-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.registration-form button:hover {
  background-color: #45a049;
}
.form-entries-list {
  text-align: left;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}
.button-container {
  text-align: center;
  margin-top: 10px;
}
.metadata-card {
  max-width: 800px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  /* max-width: 500px; */
  margin-left: auto;
  margin-right: auto;
}

.metadata-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.metadata-card h3 {
  margin-top: 0;
  margin-bottom: 8px;
  color: #333333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.metadata-card p {
  margin: 5px 0;
  color: #666666;
}
.metadata-card strong {
  font-weight: 600;
  color: #444444;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
}
.submitted-entries-header {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .login-modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;

    z-index: 1001; /* Add this line */
  }
  .login-modal-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
  
  .login-modal-content input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-modal-content button {
    padding: 10px;
    font-size: 16px;
    background-color: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
  }
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}
.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #c82333;
}

.tab-container {
  display: flex;
  border-bottom: none;
  margin-bottom: 0;
}
.tab {
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-bottom: none;
  background-color: #f0f0f0;
  color: #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px 8px 0 0;
}

.tab.active {
  background-color: #007bff;
  color: #ffffff;
  border-bottom: 1px solid #007bff;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active:hover {
  background-color: #0056b3;
}

.location-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.location{
  
  align-items: center;
  gap: 10px;
  width: 100%;
}


.location-input-container input {
  flex-grow: 1;
}

.location-input-container button {
  flex-shrink: 0;
}

.tab-content.audio {
  background-color: #f0f8ff;
}

.tab-content.image {
  background-color: #fff5e6;
}
.tab-content {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding: 20px;
  transition: all 0.3s ease;
  margin-top: -1px; /* This will remove any gap between tabs and content */
}
.tab-button {
  background-color: #f0f0f0;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px 8px 0 0;
}

.tab-button.active {
  background-color: #007bff;
  color: #ffffff;
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.tab-button.active:hover {
  background-color: #0056b3;
}
.tab-container button {
  background-color: #f0f0f0;
  color: #4a90e2;
  border: 1px solid #4a90e2;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0 0 8px 8px;
  font-size: 16px;
}

.file-type-tab {
  border-radius: 8px 8px 0 0 !important;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
}

.tab-content {
  border-radius: 0 0 8px 8px;
  margin-top: -1px;
  position: relative;
  z-index: 0;
}

.tab-container button.active {
  background-color: #4a90e2;
  color: #ffffff;
}

.tab-container button:hover {
  background-color: #e0e0e0;
}

.tab-container button.active:hover {
  background-color: #3a78c2;
}